@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #d8d8d8;
  font-family: 'Roboto', sans-serif;
  color: #131313;
  overflow: hidden;
}

h1 {
  font-size: calc(1.8em + 0.5vw);
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: calc(1.2em + 0.5vw);
  font-family: 'Raleway', sans-serif;
}

.header {
  height: 11.5vh;
  width: 99.2vw;
  padding: 0.4rem 1.8rem 0.4rem 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__element {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  margin-left: 3.2rem;
  display: inline-block;
}

.header__underline {
  width: 90%;
  border: 2px solid #002203;
}

.main {
  min-height: 84.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main:before {
  content: url(../img/logo.png);
  opacity: 0.1;
  position: absolute;
  top: -160px;
  left: -220px;
  z-index: -10;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__element {
  width: 25rem;
  margin: 21vh 0 20vh 0;
  padding: 1rem;
  background: #d8d8d8;
  border: 1px solid currentColor;
}

.main__element--bigger {
  margin: 16vh 0 16vh 0;
  width: 60rem;
}

.main__element--summary {
  margin-bottom: 24vh;
}

.btn {
  height: 3.3rem;
  width: 20rem;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 1rem auto;
  border: 1px solid currentColor;
  background: #d8d8d8;
  cursor: pointer;
  z-index: 10;
  font-size: 1.3em;
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #002203;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: -1;
}

.btn:hover, .btn:target {
  color: #d8d8d8;
}

.btn:hover:before, .btn:target:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.btn--smaller {
  height: 3.1rem;
  width: 14rem;
}

.btn--back {
  display: inline-block;
  margin-right: 3rem;
}

.btn--back:before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.btn--back:hover .btn--back:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.btn--down {
  margin-top: 1.6rem;
}

.btn--down:before {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.btn--down:hover .btn--down:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn--top {
  position: fixed;
  bottom: 1.4rem;
  right: 6rem;
}

.btn--top:before {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.btn--top:hover .btn--top:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

input {
  height: 2rem;
  background: #d8d8d8;
  border: 1px solid currentColor;
  display: block;
  font-size: 1.1em;
}

input[type="number"] {
  width: 100%;
}

input[type="radio"], input[type="checkbox"] {
  display: inline-block;
}

.label {
  margin: 0.2rem 0 0.2rem 0;
  padding: 0.2rem;
  text-align: left;
  font-size: 1.2em;
  display: block;
}

.label--radio {
  display: inline-block;
  padding: 0;
  width: 49.7%;
  text-align: left;
}

select {
  height: 2rem;
  width: 99%;
  margin: 0.2rem;
  font-size: 1.1em;
  border: 1px solid #002203;
  border-radius: 5px;
  background: #c9c9c9;
  color: #131313;
}

.radio {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 25px;
  margin: 0.3rem 20px 0 0;
}

.radio--checkbox {
  padding-left: 25px;
  margin: 1.5rem 0 0 0;
}

.radio__default {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

.radio__default:checked ~ .radio__custom:after {
  display: block;
}

.radio__custom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 20px;
  background: #c9c9c9;
  border: 1px solid #535353;
  border-radius: 50%;
}

.radio__custom:after {
  content: "";
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #535353;
}

.radio__custom--checkbox {
  border-radius: 0;
}

.radio__custom--checkbox:after {
  width: 5px;
  height: 10px;
  border: solid #535353;
  border-radius: 0;
  background: #d8d8d8;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

footer {
  padding: 1vh;
}
/*# sourceMappingURL=main.css.map */